<div class="row">
  <!-- Locations -->
  <div class="col-4 pr-0">
    <div class="mr-1 weather-card d-flex flex-column justify-content-between">
      <div>
        <div class="d-flex flex-row">
          <input type="text" class="location-input mr-1" [(ngModel)]="location" placeholder="Enter location" />
          <span class="add-btn px-2 mt-n3" (click)="addLocation()">+</span>
        </div>

        <div *ngIf="(locationsList$ | async)?.length" class="separator-line my-2"></div>

        <div *ngIf="(locationsList$ | async)?.length" class="recent-loc bottom-bordered">
          <span>Recent locations</span>
        </div>

        <div *ngFor="let location of (locationsList$ | async); let i = index">
          <div class="d-flex flex-row justify-content-between p-1 bottom-bordered">

            <span class="item-font">{{ location }}</span>

            <div>
              <img src="assets/reload.png" alt="Refresh" class="refresh-icon mr-3" (click)="fetchWeather(location.split(' ')[0])">
              <span (click)="removeLocation(i)" class="cursor-pointer"><span class="fs-4">X</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn clear-button" (click)="clearLocations()">Clear</button>
      </div>
    </div>
  </div>
  <!-- / Locations -->

  <!-- Weather card -->
  <div class="col-8">
    <div class="weather-card">
      <div *ngIf="(loading$ | async)" class="loading">
        Loading weather data...
      </div>

      <!-- Error msg -->
      <div *ngIf="error$ | async as error" class="error-message">
        {{ error }}
      </div>

      <!-- Current Weather -->
      <div *ngIf="(currentWeather$ | async) as current">
        <div class="row d-flex justify-content-between">
          <h4 class="pl-3 font-weight-bolder">{{ current?.name }}</h4>
          <div>
            <img src="assets/reload.png" class="mr-3 cursor-pointer" width="20" height="20" alt="Refresh"
              (click)="fetchWeather(current?.name)">
          </div>
        </div>

        <div class="row d-flex">
          <div class="mt-n4">
            <img class="current-weather-icon" [src]="'assets/weather-icons/' + iconMapping(current?.weather[0]?.icon)"
              alt="Weather icon" />
          </div>

          <div class="pl-0 mt-2">
            <p>{{ current?.main?.temp }}C</p>
            <p>{{ current?.weather[0]?.description | titlecase }}</p>
            <p>Wind: {{ current?.wind?.speed }}ms {{current?.wind?.speed}} deg</p>
            <p>Pressure {{ current?.main?.pressure }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="(forecastWeather$ | async) as forecast">
        <div class="row d-flex p-3">
          <div *ngFor="let weather of forecast.list">
            <div class="forecast-item text-center">
              <div>{{ weather.dt_txt | date: 'dd'}}</div>

              <div>{{ weather.dt_txt | date: 'EEE'}}</div>

              <img [src]="'assets/weather-icons/' + iconMapping(weather?.weather[0]?.main?.icon)" alt="Weather icon" width="50"
                height="50" />

              <div>{{ weather.main.temp }}C</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / Weather card -->
</div>
